name: build & test
on:
  push:
    #branches:
    #  - main
    #  - '[0-9].[0-9]+'
    #paths:
    #  - "**.go"
    #  - .github/workflows/build-test.yml
    #  - "go.mod"
    #  - "go.sum"
    #  - "docs/**"
    #  - "examples/**"
  pull_request:
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: build
        run: make build
      - name: test
        run: make test
      - name: lint
        run: make lint
  acceptance:
    environment: "main"
    uses: "./.github/workflows/acceptance-sim.yml"
    with:
      target-branch: ${{ env.TARGET_BRANCH }}
      omicron-branch: ${{ env.OMICRON_BRANCH }}
